<% include partials/header %>

<h3>View your passwords</h3>
<%=currentUser.username%>
<br>
<a href="/passwords/new">Create new password</a>
<br>
<% currentUser.passwords.forEach(password => {%>
<div class="card blue-grey darken-2">
   <div class="card-content white-text">
      <span class="card-title">Password For <%=password.for%></span>

      <p><%=password.password%></p>
   </div>
   <div class="card-action">
      <a href="#!" class="btn-small"> Copy</a>
      <a href="/passwords/<%=password._id%>/edit" class="btn-small yellow darken-1">Edit</a>
      <form action="/passwords/<%=password._id%>?_method=DELETE" method="POST">
         <button type="submit" class="btn-small red darken-1">Delete</button>
      </form>
   </div>
</div>
<%});%>

<% include partials/footer %>